.ft {
  height: 534px;
  display: flex;
}

.ft::before {
  content: "";
  flex: 1 1 auto;
  background: url(../img/ftbg_0.png) no-repeat top right;
}

.ft::after {
  content: "";
  flex: 1 1 auto;
  background: url(../img/ftbg_2.png) top left;
}

.ft .ft-content {
  width: 1200px;
  height: 534px;
  background: url(../img/ftbg_1.png) no-repeat 0 -1px;
}

.ft .ft-top {
  border-bottom: 2px solid #fff;
  position: relative;
  padding-top: 40px;
  padding-bottom: 30px;
}

.ft .ft-friend-link h4 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}

.ft .ft-fl-list {
  margin-bottom: 10px;
  width: 800px;
}

.ft .ft-fl-list li {
  float: left;
  text-align: left;
  padding: 0 0 10px 0;
  width: 170px;
}

.ft .ft-fl-list li a {
  text-decoration: none;
  font-size: 12px;
  color: #feffff;
}

.ft .ft-fl-list li a:hover {
  text-decoration: underline;
}

.ft .ft-friend-link p {
  font-size: 12px;
  color: #feffff;
}

.ft .ft-QR-code img {
  position: absolute;
  top: 40px;
  right: 50px;
  width: 217px;
  height: 217px;
}

.ft .ft-down {
  padding-top: 35px;
  padding-right: 100px;
}

.ft .ft-down .gray-line {
  color: #fff;
}

.ft .ft-down a,
.ft .ft-down p {
  color: #fff;
  padding-top: 15px;
  text-decoration: none;
}

.ft .ft-our {
  color: #fff;
  font-size: 13px;
  height: 26px;
}

.ft .ft-our a {
  display: inline-block;
  padding-top: 0;
  margin-left: 10px;
  vertical-align: middle;
}

.ft .ft-our a:hover {
  text-decoration: none;
}

.ico-green-sinawb {
  background: url("..//img/icons/icon-sina.png") no-repeat center;
  display: inline-block;
  height: 26px;
  width: 26px;
}

.ico-green-wechat {
  background: url("..//img/icons/icon-wx.png") no-repeat center;
  display: inline-block;
  height: 26px;
  width: 26px;
}
