body {
  max-width: 1920px;
  margin: 0 auto;
}

body > .container > div:not(.header) {
  width: 100%;
}

body > .container > div:not(.header) > div {
  width: 1200px;
  margin: 0 auto;
}

body > .container > div.banner {
  width: 100%;
  height: 600px;
}

body > .container > div.banner > div {
  width: 600%;
  height: 600px;
}

div.banner {
  position: relative;
}

div.banner > div > a {
  background-position: center top;
  background-repeat: no-repeat;
}

div.banner > div > a:nth-child(1) {
  background-image: url(../img/banner1.png);
}

div.banner > div > a:nth-child(2) {
  background-image: url(../img/banner2.png);
}

div.banner > div > a:nth-child(3) {
  background-image: url(../img/banner3.png);
}

div.banner > div > a:nth-child(4) {
  background-image: url(../img/banner4.png);
}

div.banner ul.swiper-pagination {
  line-height: 60px;
  bottom: 0;
}

div.banner ul.swiper-pagination > li.swiper-pagination-bullet {
  width: 90px;
  height: 6px;
  border-radius: inherit;
  background-color: #fff;
  margin-right: 25px;
  opacity: 1;
}

div.banner ul.swiper-pagination > li.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #d00f00;
}

.c1 {
  height: 700px;
}

.c1 > div:first-child {
  height: 180px;
  display: flex;
  justify-content: space-between;
}

.c1 > div:first-child a {
  display: block;
  width: 280px;
  height: 180px;
}

.c1 > div:first-child a > img {
  width: 280px;
  height: 180px;
}

.c1 > div:first-child a:first-child {
  font-size: 12px;
  background-color: #ff9d1e;
  padding: 20px 10px 10px;
}

.c1 > div:first-child a:first-child p {
  color: #fff;
}

.c1 > div:first-child a:first-child h5 {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-top: 8px;
}

.c1 > div:first-child a:first-child h6 {
  font-size: 12px;
  color: #333;
  margin-top: 1px;
}

.c1 > div:first-child a:first-child button {
  display: block;
  width: 120px;
  height: 28px;
  margin: 0 auto;
  color: #ff9d1e;
  background-color: #fff;
  line-height: 28px;
  border-radius: 5px;
  margin-top: 15px;
}

.c1 .c1_2 {
  margin-top: 17px;
  padding-bottom: 35px;
}

.c1 .c1_2 > div {
  height: 470px;
}

.c1 .c1_2 > div > p {
  height: 50px;
  line-height: 50px;
  padding: 0 26px 0 20px;
  font-size: 20px;
  color: #fff;
  background-color: #d10009;
}

.c1 .c1_2 > div > p a {
  float: right;
  font-size: 14px;
  color: #fff;
}

.c1 .c1_2 .c1_2_st {
  float: left;
  width: 560px;
}

.c1 .c1_2 .c1_2_st > div {
  height: 420px;
  overflow: hidden;
  padding: 20px 20px 0;
  background-color: #f5f5f5;
}

.c1 .c1_2 .c1_2_st > div > div::after {
  content: " ";
  display: block;
  clear: both;
}

.c1 .c1_2 .c1_2_st > div > div > div {
  width: 250px;
  height: 180px;
  background-color: #ff8a00;
  position: relative;
}

.c1 .c1_2 .c1_2_st > div > div > div img {
  width: 250px;
  height: 180px;
}

.c1 .c1_2 .c1_2_st > div > div > div p {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  padding-left: 10px;
  padding-right: 20px;
  line-height: 45px;
  font-size: 12px;
  color: #fff;
  background-color: rgba(245, 245, 245, 0.3);
}

.c1 .c1_2 .c1_2_st > div > div > div p span {
  display: inline-block;
  width: 130px;
  overflow: hidden;
}

.c1 .c1_2 .c1_2_st > div > div > div p a {
  float: right;
  width: 80px;
  height: 25px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: #ff8a00;
  text-align: center;
  line-height: 25px;
}

.c1 .c1_2 .c1_2_st > div ul {
  margin-top: 20px;
  width: 520px;
}

.c1 .c1_2 .c1_2_st > div ul > li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #bebebe;
}

.c1 .c1_2 .c1_2_st > div ul > li span {
  float: right;
  width: 280px;
}

.c1 .c1_2 .c1_2_st > div ul > li span a {
  float: right;
  width: 78px;
  height: 20px;
  line-height: 20px;
  margin-top: 5px;
  border-radius: 4px;
  text-align: center;
  background-color: #ff8a00;
}

.c1 .c1_2 .c1_2_fb {
  float: right;
  width: 636px;
}

.c1 .c1_2 .c1_2_fb > div p {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  padding-left: 48px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
}

.c1 .c1_2 .c1_2_fb > div ul {
  padding-right: 24px;
}

.c1 .c1_2 .c1_2_fb > div ul li {
  height: 40px;
  line-height: 40px;
}

.c1 .c1_2 .c1_2_fb > div ul li i {
  position: relative;
  bottom: -6px;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-width: 8px;
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-style: solid;
  border-left-color: #000;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.c1 .c1_2 .c1_2_fb > div ul li div {
  display: inline-block;
  width: 562px;
  margin-left: 20px;
  border-bottom: 1px dashed #666;
}

.c1 .c1_2 .c1_2_fb > div ul li div span {
  float: right;
}

.f_c2 {
  background-color: #d10009;
  height: 697px;
}

.c2 {
  height: 698px;
  background-color: #d10009;
}

.c2 > div {
  height: 698px;
}

.c2 > div img {
  width: 1200px;
  height: 698px;
}

.f_c3 {
  background-image: url(../img/c3bg.png);
}

.c3 {
  width: 1200px;
  height: 546px;
  background: url(../img/c3_bg.png) no-repeat -360px 0;
}

.c3::before {
  content: "";
  display: table;
}

.c3 ul {
  margin-top: 157px;
}

.c3 ul::after {
  content: "";
  display: block;
  clear: both;
}

.c3 ul li {
  float: left;
  width: 100px;
  height: 42px;
  margin: 5px 15px;
}

.c3 ul li a {
  display: block;
  width: 100px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 24px;
  color: #333;
}

.c3 ul li a:hover {
  background-color: #d10009;
}

.c4 {
  width: 1200px;
  height: 1336px;
}

.c4 > h4 {
  width: 1200px;
  height: 170px;
  text-align: center;
  line-height: 170px;
}

.c4 > h4 img {
  width: 794px;
  height: 48px;
}

.c4 > ul::after {
  content: "";
  display: block;
  clear: both;
}

.c4 > ul li {
  float: left;
  width: 290px;
  height: 470px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.c4 > ul li a {
  display: block;
  width: 290px;
  height: 470px;
  position: relative;
}

.c4 > ul li a > img {
  width: 290px;
  height: 470px;
}

.c4 > ul li a > p.c4_xm {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.c4 > ul li a .c4_xm {
  width: 290px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.c4 > ul li a .c4_xm span {
  padding-left: 10px;
  padding-right: 10px;
}

.c4 > ul li a .c4_xm i,
.c4 > ul li a .c4_xm b {
  display: inline-block;
  width: 80px;
  height: 0;
  border-bottom: 2px solid #fff;
  position: relative;
  top: -6px;
}

.c4 > ul li a:hover > div {
  opacity: 1;
  transition: all 1s;
}

.c4 > ul li a > div {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 290px;
  height: 470px;
  background-color: #e77e23;
  padding-top: 10px;
}

.c4 > ul li a > div u {
  display: block;
  width: 196px;
  height: 196px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.c4 > ul li a > div u img {
  position: relative;
  top: -10px;
  left: -47px;
  width: 290px;
  height: 470px;
}

.c4 > ul li a > div h5 {
  padding: 0 20px;
  font-size: 16px;
  color: #fff;
}

.c4 > ul li:nth-child(5) {
  margin-left: 145px;
}

.c4 > a {
  display: block;
  width: 450px;
  height: 80px;
  line-height: 80px;
  margin: 70px auto 0;
  text-align: center;
  font-size: 30px;
  color: #fff;
  background-color: #e77e23;
}

.f_c5 {
  display: flex;
}

.f_c5::before {
  content: "";
  flex: 1 1 auto;
  background: url(../img/c5bg_0.png) no-repeat top right;
}

.f_c5::after {
  content: "";
  flex: 1 1 auto;
  background: url(../img/c5bg_2.png) top left;
}

.c5 {
  flex: 0 1 1200px;
  width: 1200px;
  height: 795px;
  background: url(../img/c5bg_1.png) no-repeat;
}

.c5 > h4 {
  width: 1200px;
  height: 170px;
  text-align: center;
  line-height: 170px;
}

.c5 > h4 img {
  width: 794px;
  height: 48px;
}

.c5 > div {
  width: 1200px;
  height: 420px;
  margin-top: 40px;
  position: relative;
}

.c5 > div a {
  position: absolute;
  width: 290px;
  height: 200px;
}

.c5 > div a:nth-child(1) {
  top: 0;
  left: 0;
}

.c5 > div a:nth-child(2) {
  position: absolute;
  top: 0;
  left: 305px;
  width: 590px;
  height: 420px;
}

.c5 > div a:nth-child(3) {
  top: 0;
  right: 0;
}

.c5 > div a:nth-child(4) {
  bottom: 0;
  left: 0;
}

.c5 > div a:nth-child(5) {
  bottom: 0;
  right: 0;
}

.c5 > a {
  display: block;
  width: 450px;
  height: 80px;
  line-height: 80px;
  margin: 30px auto 0;
  text-align: center;
  font-size: 30px;
  color: #fff;
  background-color: #e77e23;
}

.c6 {
  height: 576px;
}

.c6 > div {
  float: left;
}

.c6 > div > p {
  display: flex;
  justify-content: space-between;
  height: 90px;
  padding-top: 30px;
  line-height: 60px;
  font-size: 20px;
  color: #e62129;
}

.c6 > div > p a {
  font-size: 14px;
  color: #333;
}

.c6 .c6_kc {
  width: 700px;
}

.c6 .c6_kc .c6_kc_list {
  height: 425px;
  background-color: #f6f6f6;
}

.c6 .c6_kc .c6_kc_list div.hd {
  height: 44px;
  padding: 14px 35px 0;
  background-color: #f6f6f6;
}

.c6 .c6_kc .c6_kc_list div.hd ul {
  border-bottom: 1px solid #b3b3b3;
}

.c6 .c6_kc .c6_kc_list div.hd ul::after {
  content: "";
  display: block;
  clear: both;
}

.c6 .c6_kc .c6_kc_list div.hd ul li {
  float: left;
  margin-right: 20px;
  margin-bottom: -1px;
  padding: 0 5px;
  line-height: 30px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid transparent;
}

.c6 .c6_kc .c6_kc_list div.hd ul li.on {
  color: #e62129;
  border-bottom-color: #e62129;
}

.c6 .c6_kc .c6_kc_list div.bd {
  padding: 50px 35px 0;
}

.c6 .c6_kc .c6_kc_list div.bd > ul li {
  float: left;
  width: 180px;
  height: 300px;
  margin-right: 15px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.c6 .c6_kc .c6_kc_list div.bd > ul li > img {
  width: 180px;
  height: 130px;
}

.c6 .c6_kc .c6_kc_list div.bd > ul li h4 {
  font-size: 16px;
  color: #333;
  padding: 10px;
  max-height: 60px;
  overflow: hidden;
}

.c6 .c6_kc .c6_kc_list div.bd > ul li h5,
.c6 .c6_kc .c6_kc_list div.bd > ul li h6 {
  font-size: 14px;
  color: #333;
  line-height: 24px;
  padding-left: 10px;
}

.c6 .c6_kc .c6_kc_list div.bd > ul li > a {
  position: absolute;
  bottom: 10px;
  left: 17px;
  width: 146px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  background-color: #e62129;
  text-align: center;
  border-radius: 4px;
}

.c6 .c6_jt {
  width: 500px;
  padding-left: 50px;
}

.c6 .c6_jt .c6_jt_list {
  height: 425px;
  overflow: hidden;
}

.c6 .c6_jt .c6_jt_list li {
  width: 450px;
  height: 200px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
}

.c6 .c6_jt .c6_jt_list li img {
  float: left;
  width: 260px;
  height: 200px;
}

.c6 .c6_jt .c6_jt_list li div {
  float: left;
  padding: 60px 10px 0;
  width: 190px;
}

.c6 .c6_jt .c6_jt_list li div p {
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.f_c7 {
  height: 250px;
  display: flex;
  background-color: #d10009;
}

.f_c7::before {
  content: "";
  flex: 1 1 auto;
  background: url(../img/c7bg_0.png) no-repeat top right;
}

.f_c7::after {
  content: "";
  flex: 1 1 auto;
  background: url(../img/c7bg_2.png) top left;
}

.c7 {
  flex: 0 1 1200px;
  width: 1200px;
  height: 250px;
  background: url(../img/c7bg_1.png) no-repeat;
  position: relative;
}

.c7 a {
  position: absolute;
  top: 183px;
  left: 455px;
  width: 290px;
  height: 50px;
}
