.ft {
    height: 534px;
    display: flex;
    &::before {
        content: "";
        flex: 1 1 auto;
        background: url(../img/ftbg_0.png) no-repeat top right;
    }
    &::after {
        content: "";
        flex: 1 1 auto;
        background: url(../img/ftbg_2.png) top left;
    }
    .ft-content {
        width: 1200px;
        height: 534px;
        background: url(../img/ftbg_1.png) no-repeat 0 -1px;
    }
    .ft-top {
        border-bottom: 2px solid #fff;
        position: relative;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .ft-friend-link h4 {
        color: #fff;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 10px;
    }
    .ft-fl-list {
        margin-bottom: 10px;
        width: 800px;
        li {
            float: left;
            text-align: left;
            padding: 0 0 10px 0;
            width: 170px;
            a {
                text-decoration: none;
                font-size: 12px;
                color: #feffff;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .ft-friend-link p {
        font-size: 12px;
        color: #feffff;
    }
    .ft-QR-code img {
        position: absolute;
        top: 40px;
        right: 50px;
        width: 217px;
        height: 217px;
    }
    .ft-down {
        padding-top: 35px;
        padding-right: 100px;
    }
    .ft-down .gray-line {
        color: #fff;
    }
    .ft-down a,
    .ft-down p {
        color: #fff;
        padding-top: 15px;
        text-decoration: none;
    }
    .ft-our {
        color: #fff;
        font-size: 13px;
        height: 26px;
    }
    .ft-our a {
        display: inline-block;
        padding-top: 0;
        margin-left: 10px;
        vertical-align: middle;
    }
    .ft-our a:hover {
        text-decoration: none;
    }
}
.ico-green-sinawb {
    background: url("..//img/icons/icon-sina.png") no-repeat center;
    display: inline-block;
    height: 26px;
    width: 26px; }
  
  .ico-green-wechat {
    background: url("..//img/icons/icon-wx.png") no-repeat center;
    display: inline-block;
    height: 26px;
    width: 26px; }